@{
    ViewBag.Title = "submit";
    Layout = null;

}


<!DOCTYPE html>
<html>
<head>




    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tử Vi Gia Đạo</title>

    <meta name="description" content="@ViewBag.description">
    <meta property="article:publisher" content="https://www.facebook.com/tuvigiadao">
    <meta property="article:tag" content="phongthuy">
    <meta property="article:published_time" content="2017-06-02T16:14:59+00:00">
    <meta property="article:author" content="https://www.facebook.com/tuvigiadao">

    <meta property="fb:app_id" content="1567232153295149">
    <meta property="fb:pages" content="1183389758392844">
    <meta property="og:site_name" content="Tuvigidao">
    <meta property="og:description" content="@ViewBag.description">
    <meta property="og:title" content="Tử Vi Gia Đạo - Xem Phong Thủy Hướng Nhà">

    <meta property="og:url" content="@ViewBag.url">
    <meta property="og:image" content="http://tuvigiadao.com/Assets/Homepage/images/themes.jpg">
    <meta property="og:image:height" content="512">
    <meta property="og:type" content="article">
    <meta property="og:image:width" content="512">
    <meta property="og:image:type" content="image/jpeg">




    @*<meta property="fb:app_id" content="330468244019948" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.url" />
    <meta property="og:title" content="Tử Vi Trọn Đời - Xem Phong Thủy Hướng Nhà" />
    <meta property="og:image" content="http://tuvigiadao.somee.com/Assets/Homepage/images/themes.jpg" /> 
    <meta property="og:description" content="@ViewBag.description">*@


    <meta name="keywords" content="Business_Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,




Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Assets/Homepage/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->

    <link href="~/Assets/Homepage/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Assets/Homepage/css/bootstrap-social.css" rel="stylesheet" />
    <link href='/Assets/Homepage/fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='/Assets/Homepage/fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/Assets/Homepage/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/Assets/Homepage/js/jquery-1.11.1.min.js"></script>
    <script src="/Assets/Homepage/js/bootstrap.min.js"></script>


</head>
<body>
    <!--start-main-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a href="~/Guest/Home/Index"><h1>TỬ VI GIA ĐẠO</h1></a>
                </div>
                <div class="search">
                    <form role="form" action="~/Guest/TaiLieu/Search" method="get">
                        <input type="text" value="Search" name="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="facebook twitter"> </a></li>
                        <li><a href="#" class="facebook chrome"> </a></li>
                        <li><a href="#" class="facebook in"> </a></li>
                        <li><a href="#" class="facebook beh"> </a></li>
                        <li><a href="#" class="facebook vem"> </a></li>
                        <li><a href="#" class="facebook yout"> </a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--head-bottom-->
        <div class="head-bottom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Guest/Home/Index">TRANG CHỦ</a></li>
                        <li class="active"><a href="~/Guest/XemPhongThuy/Index">HƯỚNG NHÀ</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TÌNH DUYÊN <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Guest/TinhDuyen/Index">Tình Duyên</a></li>
                                <li><a href="~/Guest/GhepDoiTinhDuyen/Index">Ghép Đôi</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Guest/LichAmDuong/Index">LỊCH ÂM DƯƠNG</a></li>
                        <li><a href="~/Guest/TaiLieu/Index">TÀI LIỆU PHONG THỦY</a></li>
                        <li><a href="~/Guest/GioiThieu/Index">GIỚI THIỆU</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <!--head-bottom-->
    </div>
    <!-- banner -->
    <form action="~/Guest/fb/sharePT" method="post">

        <input type="hidden" name="namsinh" value="@ViewBag.day tháng @ViewBag.month năm @ViewBag.t">

        <input type="hidden" name="gioitinh" value="@ViewBag.gender">

        <input type="hidden" name="nguhanh" value="@ViewBag.NgH">
        <input type="hidden" name="giainghia" value="@ViewBag.GN">

        <input type="hidden" name="cungmenh" value="@ViewBag.BQ @ViewBag.NH">
        <input type="hidden" name="t1" value="@ViewBag.T1">
        <input type="hidden" name="tt1" value="@ViewBag.TTT1">
        <input type="hidden" name="t2" value="@ViewBag.T2">
        <input type="hidden" name="ttt2" value="@ViewBag.TTT2">
        <input type="hidden" name="t3" value="@ViewBag.T3">
        <input type="hidden" name="tt3" value="@ViewBag.TTT3">
        <input type="hidden" name="t4" value="@ViewBag.T4">
        <input type="hidden" name="tt4" value="@ViewBag.TTT4">
        <input type="hidden" name="t5" value="@ViewBag.T5">
        <input type="hidden" name="tt5" value="@ViewBag.TTT5">
        <input type="hidden" name="t6" value="@ViewBag.T6">
        <input type="hidden" name="tt6" value="@ViewBag.TTT6">
        <input type="hidden" name="t7" value="@ViewBag.T7">
        <input type="hidden" name="tt7" value="@ViewBag.TTT7">
        <input type="hidden" name="t8" value="@ViewBag.T8">
        <input type="hidden" name="tt8" value="@ViewBag.TTT8">

        <div class="technology-1">
            <div class="container">
                <div class="business">
                    <h2>THÔNG TIN GIA CHỦ VÀ HƯỚNG NHÀ </h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Thông Tin Gia Chủ</th>
                                <th>Hướng tốt</th>
                                <th>Hướng xấu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    Năm Sinh: @ViewBag.day tháng @ViewBag.month năm @ViewBag.t <br>

                                    Giới Tính : @ViewBag.gender<br>

                                    Ngũ Hành: @ViewBag.NgH - @ViewBag.GN<br>

                                    Cung Mệnh : @ViewBag.BQ @ViewBag.NH<br>


                                </td>
                                <td>
                                    @ViewBag.T1 - @ViewBag.TTT1<br>

                                    @ViewBag.T2 - @ViewBag.TTT2<br>

                                    @ViewBag.T3 - @ViewBag.TTT3<br>

                                    @ViewBag.T4 - @ViewBag.TTT4<br>

                                </td>
                                <td>
                                    @ViewBag.T5 - @ViewBag.TTT5<br>

                                    @ViewBag.T6 - @ViewBag.TTT6<br>

                                    @ViewBag.T7 - @ViewBag.TTT7<br>

                                    @ViewBag.T8 - @ViewBag.TTT8<br>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <h3>CHÚ GIẢI HƯỚNG TỐT </h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Hướng @ViewBag.TTT1</th>
                                <td>@ViewBag.TTGT1</td>
                            </tr>
                            <tr>
                                <th>Hướng @ViewBag.TTT2</th>
                                <td>@ViewBag.TTGT2</td>
                            </tr>
                            <tr>
                                <th>Hướng @ViewBag.TTT3</th>
                                <td>@ViewBag.TTGT3</td>
                            </tr>
                            <tr>
                                <th>Hướng @ViewBag.TTT4</th>
                                <td>@ViewBag.TTGT4</td>
                            </tr>
                        </thead>
                    </table>

                    <h3>CHÚ GIẢI HƯỚNG XẤU </h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Hướng @ViewBag.TTT5</th>
                                <td>@ViewBag.TTGT5</td>
                            </tr>
                            <tr>
                                <th>Hướng @ViewBag.TTT6</th>
                                <td>@ViewBag.TTGT6</td>
                            </tr>
                            <tr>
                                <th>Hướng @ViewBag.TTT7</th>
                                <td>@ViewBag.TTGT7</td>
                            </tr>
                            <tr>
                                <th>Hướng @ViewBag.TTT8</th>
                                <td>@ViewBag.TTGT8</td>
                            </tr>
                        </thead>
                    </table>
                    <br />
                    <center>
                        <div class="fb-share-button"
                             data-href="@ViewBag.url"
                             data-layout="button"
                             data-size="large"
                             data-mobile-iframe="true"
                             title="Send To Facebook !"
                             redirect_uri="http://tuvigiadao.com/Guest/XemPhongThuy/Index">

                        </div>

                    </center>
                    <br />
                </div>
            </div>
        </div>




    </form>
    <script>

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1567232153295149";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    </script>

    <div class="copyright">
        <div class="container">
            <p>© 2016 TuViGiaDao. All rights reserved. </p>
        </div>
    </div>
</body>
</html>

